.caja__uno {
    width: 300px;
    height: 200px;
    background-color: #64dd17;
  }
  .caja__dos {
    width: 300px;
    height: 200px;
    background-color: #536dfe;
  }
  .caja__tres{
    width: 300px;
    height: 200px;
    background-color: #64dd17;
  }
  .caja__cuatro{
      width: 300px;
    height: 200px;
    background-color: #536dfe;
  }